{
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 120,
  "semi": true,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "singleQuote": false,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    }
  ]
}
